<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica para realizar durante 3 horas del lunes 22 de Septiembre</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registrarse</a></li>
                <li><a href="/tecnologias">Tecnologias</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>